whitenoise
asgiref==3.5.2
crispy-bootstrap5==0.7
Django==4.1.3
django-crispy-forms==1.14.0
django-tinymce==3.5.0
sqlparse==0.4.3
gunicorn==22.0.0
dj-database-url==2.2.0
psycopg2==2.9.9
torch
nltk 
googletrans
wikipedia 
numpy 
soundfile 
python-dotenv
requests


